*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

@font-face {
  font-family: "Timeless";
  src: url("fonts/Timeless-Normal.woff2") format("woff2"), url("fonts/Timeless-Normal.woff") format("woff");
  font-style: none;
  font-weight: none;
  font-display: swap;
}

@font-face {
  font-family: "Timeless";
  src: url("fonts/Timeless-Bold.woff2") format("woff2"), url("fonts/Timeless-Bold.woff") format("woff");
  font-style: none;
  font-weight: 700;
  font-display: swap;
}

:root {
  font-weight: 700;
  font-family: "Timeless", system-ui, sans-serif;
}

:root * {
  font-family: inherit;
}

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right, #FF000058, 50%, #00000088), linear-gradient(#00F, 30%, #528);
  background-attachment: fixed;
  min-height: 100vh;
  padding: 20px 20px 50px 20px;
}

body > h1 {
  color: white;
  text-align: center;
}

.resources {
  display: none;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 75vh;
  margin-top: 80px;
}

.gameboard-display {
  --board-size: 3;
  --gap-size: 5px;
  --box-size: calc(clamp(400px, 35vw, 500px) / var(--board-size));

  box-sizing: border-box;
  display: none;
  gap: 5px;
  grid-template-rows: repeat(3, var(--box-size));
  grid-template-columns: repeat(3, var(--box-size));

  border: 2px solid blue;
  background-color: black;
  padding: 5px;
  .box { 
    display: flex;
    justify-content: center;
    align-items: center;

    appearance: none;
    border: thin solid black;
    border-radius: 2px;
    cursor: pointer;

    transition: background-color 0.3s;
    background-color: #eee;
    &:hover:empty, &:focus:empty {
      background-color: #d6a6a6;
    }

    &:active:empty {
      background-color: #b88;
    }

    font-size: var(--box-size);
    font-family: "Helvetica", sans-serif;
    font-weight: 700;

    img.loaded {
      height: calc(var(--box-size) * 3 / 4);
      width: auto;
    }
  }
}

.panel {
  display: grid;
  grid-template-columns: 1fr;

  background-color: #353;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px white;
  color: white;

  .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .start-restart {
      text-transform: capitalize;
    }

    .board-size-selector {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0px;

      button {
        text-decoration: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;

        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          border-right: thin solid black;
        }

        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          border-left: thin solid black;
        }

        &.selected {
          text-decoration: underline;
        }
      }
    }
  }

  .content {
    display: grid; 
    grid-template: 50px repeat(4, 75px) / repeat(2, 200px);
    place-items: center;
    place-content: center;
    grid-auto-flow: column;
    row-gap: 10px;

    .pointer {
      height: 75px;
      width: auto;
      visibility: hidden;
    }

    &[data-current-turn="1"] {
      .p1.pointer {
        visibility: visible;
      }
    }

    &[data-current-turn="2"] {
      .p2.pointer {
        visibility: visible;
      }
    }

    .name {
      white-space: pre-wrap;
      overflow-wrap: anywhere;
      font-size: 1.5rem;
    }

    .symbol {
      background-color: white;
      border-radius: 2px;
      svg {
        height: 75px;
        width: auto;
      }
    }

    .name, .score {
      text-align: center;
    }

    .score {
      &::before { content: "Score: "; }
    }

    .edit-player-btn {
      margin-bottom: 20px;
      font-size: 1rem;
    }
  }
}

dialog {
  margin: auto;
}

.gameboard-display.copy {
  --box-size: calc(clamp(300px, 40vw, 450px) / var(--board-size));

  button.box, button.box:hover, button.box:focus, button.box:active {
    background-color: #eee;
    cursor: default;
  }
  
  button.box.winning {
    background-color: lightgreen;
  }
}

#end-screen {
  border-radius: 15px;
  border: 4px solid black;
  background-image: linear-gradient(red, 50%, orange);

  & > div {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    padding: 60px 40px 50px 40px;
    max-height: 90vh;

    h1 {
      font-size: 3rem;
      text-align: center;
    }

    .play-again {
      margin-top: 30px;
    }
  }

  &[open] {
    animation: fade-in 0.5s;
  }
}

.default-btn-styling {
  cursor: pointer;

  border: thin solid black;
  border-radius: 4px;
  padding: 4px 8px;
  transition: background-color 0.3s;

  font-weight: 700;
  font-size: 1.2rem;

  &:disabled {
    cursor: not-allowed;
  }
}

.default-green-btn {
  background-color: #0f0;

  &:hover { background-color: #0e0; }
  &:active { background-color: #0d0; }
  &:disabled { background-color: #8d8; }
}

.default-red-btn {
  background-color: #f00;

  &:hover { background-color: #e00; }
  &:active { background-color: #d00; }
  &:disabled { background-color: #d77; }
}

.default-orange-btn {
  background-color: #fa0;

  &:hover { background-color: #e90; }
  &:active { background-color: #d80; }
  &:disabled { background-color: #c99; }
}

#change-player {
  border-radius: 15px;
  border: 4px solid black;
  background-image: linear-gradient(lightgreen, 50%, yellow);
  padding: 60px 40px 50px 40px;

  &[open] {
    animation: fade-in 0.3s;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    display: grid;
    grid-template: repeat(4, 50px) / 80px 200px;
    column-gap: 20px;
    place-content: center;
    place-items: center;

    .buttons, .errors {
      display: flex;
      grid-column: 1 / span 2;
    }

    .buttons {
      justify-self: stretch;
      justify-content: space-evenly;
    }

    .errors {
      color: red;
      justify-content: center;
    }


    #new-name {
      appearance: none;
      width: 100%;
      padding: 1px 3px;
      border-radius: 2px;
      border: thin solid black;
    }

    #new-colour {
      cursor: pointer;
      border-radius: 2px;
    }

    #new-symbol {
      appearance: base-select;
      border-radius: 2px;
      border: thin solid black;
      background-color: #eee;
      padding: 1px 3px;
      width: 50%;
    }

    input, select {
      font-family: "Roboto", system-ui, sans-serif;
      &:focus, &:hover {
        outline: 2px solid lightblue;
      }
      &:invalid {
        background-color: pink;
        border-color: red;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .game {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: 600px) {
  .gameboard-display {
    --box-size: calc(80vw / var(--board-size));
  }

  .gameboard-display.copy {
    --box-size: calc(65vw / var(--board-size));
  }

  .panel .content {
    grid-template-columns: repeat(2, 35vw);

    .name {
      font-size: 1.2rem;
    }
  }
}
