*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  line-height: 1.5;
}

@font-face {
  font-family: "Timeless";
  src: url("fonts/Timeless-Normal.woff2") format("woff2"), url("fonts/Timeless-Normal.woff") format("woff");
  font-style: none;
  font-weight: none;
  font-display: swap;
}

@font-face {
  font-family: "Timeless";
  src: url("fonts/Timeless-Bold.woff2") format("woff2"), url("fonts/Timeless-Bold.woff") format("woff");
  font-style: none;
  font-weight: 700;
  font-display: swap;
}

:root {
  font-weight: 700;
  font-family: "Timeless", system-ui, sans-serif;
}

:root * {
  font-family: inherit;
}

body {
  background-image: linear-gradient(to right, #FF000058, 50%, #00000088), linear-gradient(#00F, 30%, #528);
  min-height: 100vh;
}

body > h1 {
  color: white;
  text-align: center;
}

.resources {
  display: none;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 80vh;
}

.gameboard-display {
  --box-size: 120px;
  display: none;
  gap: 5px;
  grid-template-rows: repeat(3, var(--box-size));
  grid-template-columns: repeat(3, var(--box-size));

  border: 2px solid blue;
  background-color: black;
  padding: 5px;
  .box { 
    display: flex;
    justify-content: center;
    align-items: center;

    appearance: none;
    border: thin solid black;
    border-radius: 2px;

    transition: background-color 0.3s;
    background-color: #eee;
    &:hover:empty, &:focus:empty {
      background-color: #d6a6a6;
    }

    &:active:empty {
      background-color: #b88;
    }

    font-size: var(--box-size);
    font-family: "Helvetica", sans-serif;
    font-weight: 700;

    img.loaded {
      height: calc(var(--box-size) * 3 / 4);
      width: auto;
    }
  }
}

.panel {
  display: grid;
  place-items: center;

  background-color: #353;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 0px 0px 10px white;
  color: white;

  .start-restart {
    text-transform: capitalize;
  }

  .content {
    display: grid; 
    grid-template: 50px repeat(4, 75px) / repeat(2, 200px);
    place-items: center;
    place-content: center;
    grid-auto-flow: column;
    row-gap: 10px;

    .pointer {
      height: 75px;
      width: auto;
      visibility: hidden;
    }

    &[data-current-turn="1"] {
      .p1.pointer {
        visibility: visible;
      }
    }

    &[data-current-turn="2"] {
      .p2.pointer {
        visibility: visible;
      }
    }

    .name {
      white-space: pre-wrap;
      font-size: 1.5rem;
    }

    .symbol {
      background-color: white;
      border-radius: 2px;
      svg {
        height: 75px;
        width: auto;
      }
    }

    .name, .score {
      text-align: center;
    }

    .score {
      &::before { content: "Score: "; }
    }

    .edit-player-btn {
      background-color: #fa0;
      margin-bottom: 20px;

      &:hover { background-color: #e90; }
      &:active { background-color: #d80; }
      &:disabled { background-color: #c99; }
      font-size: 1rem;
    }
  }
}

dialog {
  margin: auto;
}

.gameboard-display.copy {
  --box-size: 140px;

  button.box, button.box:hover, button.box:focus, button.box:active {
    background-color: #eee;
  }
  
  button.box.winning {
    background-color: lightgreen;
  }
}

#end-screen {
  border-radius: 15px;
  border: 4px solid black;
  background-image: linear-gradient(red, 50%, orange);

  & > div {
    display: grid;
    justify-items: center;
    row-gap: 20px;
    padding: 60px 40px 50px 40px;
    max-height: 90vh;

    h1 {
      font-size: 3rem;
      text-align: center;
    }

    .play-again {
      margin-top: 30px;
    }
  }

  &[open] {
    animation: fade-in 0.5s;
  }
}

#end-screen .play-again, #change-player .submit, #change-player .cancel, .panel .edit-player-btn, .panel .start-restart {
  border: thin solid black;
  border-radius: 4px;
  padding: 4px 8px;
  transition: background-color 0.3s;

  font-weight: 700;
  font-size: 1.2rem;
}

#end-screen .play-again, #change-player .submit, .panel .start-restart {
  background-color: #0f0;

  &:hover { background-color: #0e0; }
  &:active { background-color: #0d0; }
}

#change-player .cancel, .panel .start-restart.restart {
  background-color: #f00;

  &:hover { background-color: #e00; }
  &:active { background-color: #d00; }
}

#change-player {
  border-radius: 15px;
  border: 4px solid black;
  background-image: linear-gradient(lightgreen, 50%, yellow);
  padding: 60px 40px 50px 40px;

  &[open] {
    animation: fade-in 0.3s;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    display: grid;
    grid-template: repeat(4, 50px) / 80px 200px;
    column-gap: 20px;
    place-content: center;
    place-items: center;

    .buttons, .errors {
      display: flex;
      grid-column: 1 / span 2;
    }

    .buttons {
      justify-self: stretch;
      justify-content: space-evenly;
    }

    .errors {
      color: red;
      justify-content: center;
    }


    #new-name {
      appearance: none;
      width: 100%;
      padding: 1px 3px;
      border-radius: 2px;
      border: thin solid black;
    }

    #new-colour {
      border-radius: 2px;
    }

    #new-symbol {
      appearance: base-select;
      border-radius: 2px;
      border: thin solid black;
      background-color: #eee;
      padding: 1px 3px;
      width: 50%;
    }

    input, select {
      font-family: "Roboto", system-ui, sans-serif;
      &:focus, &:hover {
        outline: 2px solid lightblue;
      }
      &:invalid {
        background-color: pink;
        border-color: red;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
